# submodule ulauncher
[submodule ".config/ulauncher/user-themes/zorin-blue-dark"]
	path = .config/ulauncher/user-themes/zorin-blue-dark
	url = https://github.com/NayamAmarshe/ulauncher-zorinBlueDark


# submodule tmux
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm