# submodule for zsh plugins
[submodule ".zsh/plugins/zinit"]
	path = .zsh/plugins/zinit
	url = https://github.com/zdharma-continuum/zinit
[submodule ".zsh/plugins/jeffreytse---zsh-vi-mode"]
	path = .zsh/plugins/jeffreytse---zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule ".zsh/plugins/romkatv---powerlevel10k"]
	path = .zsh/plugins/romkatv---powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh/plugins/zdharma-continuum---fast-syntax-highlighting"]
	path = .zsh/plugins/zdharma-continuum---fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule ".zsh/plugins/zsh-users---zsh-autosuggestions"]
	path = .zsh/plugins/zsh-users---zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/joshskidmore---zsh-fzf-history-search"]
	path = .zsh/plugins/joshskidmore---zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule ".zsh/plugins/Aloxaf---fzf-tab"]
	path = .zsh/plugins/Aloxaf---fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".scripts/i3-easyfocus"]
	path = .scripts/i3-easyfocus
	url = https://github.com/cornerman/i3-easyfocus
[submodule ".zsh/plugins/wfxr---forgit"]
	path = .zsh/plugins/wfxr---forgit
	url = https://github.com/wfxr/forgit
[submodule ".zsh/plugins/unixorn---git-extra-commands"]
	path = .zsh/plugins/unixorn---git-extra-commands
	url = https://github.com/unixorn/git-extra-commands
[submodule ".zsh/plugins/zsh-users---zsh-completions"]
	path = .zsh/plugins/zsh-users---zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/plugins/agkozak---zsh-z"]
	path = .zsh/plugins/agkozak---zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule ".zsh/plugins/zsh-users---zsh-history-substring-search"]
	path = .zsh/plugins/zsh-users---zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search

# submodule ulauncher
[submodule ".config/ulauncher/user-themes/zorin-blue-dark"]
	path = .config/ulauncher/user-themes/zorin-blue-dark
	url = https://github.com/NayamAmarshe/ulauncher-zorinBlueDark


# submodule tmux
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/nord-tmux"]
	path = .tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
[submodule ".tmux/plugins/tmux-menus"]
	path = .tmux/plugins/tmux-menus
	url = https://github.com/jaclu/tmux-menus
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-tilish"]
	path = .tmux/plugins/tmux-tilish
	url = https://github.com/jabirali/tmux-tilish
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-fzf-url"]
	path = .tmux/plugins/tmux-fzf-url
	url = https://github.com/wfxr/tmux-fzf-url