/* START OF MY CUSTOMIZATION */

# The color with which the screen is cleared before rendering the pdf
background_color    1.0 1.0 1.0
dark_mode_background_color    0.0 0.0 0.0
dark_mode_contrast      0.6
custom_background_color  0.19216  0.19608  0.26667
custom_text_color        0.97255 0.97255 0.94902
visual_mark_color  		0.15686 0.16471 0.21176 0.8
font_size     15
ui_font				JetBrainsMono Nerd Font
status_bar_color        0.1916  0.1608  0.2
status_bar_text_color   1 1 1
status_bar_font_size    15
new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}
new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"


# Commands that run at startup.
startup_commands      toggle_custom_color;toggle_visual_scroll

# Highlight color when text is selected using mouse
text_highlight_color    1.0 1.0 0.0

# The color of highlight bar which is displayed when right click is pressed
vertical_line_color    0.0 0.0 0.0 0.4

# Use dark mode by default
default_dark_mode	1
vertical_move_amount 2
toggle_horizontal_scroll_lock
should_launch_new_window 1

/* Enable Zoom in and out with Ctrl + Mouse wheel at the pointer position. */
wheel_zoom_on_cursor 1

/* END OF MY CUSTOMIZATION */
